

.container-fluid {
	padding-top: 70px;
	padding-bottom: 70px;
}

#headshot {
	width: 300px;
	height: 250px;
}

.bg-1 {
	background-color: #0b5082;
	color: #ffffff;
}

.bg-2 {
	background-color: #ffffff;
	color: #000000;
}

.bg-3 {
	background-color: orangered;
	color: white;
}


.bg-4 {
	background-color: beige;
	color: #ffffff;
}
	
